*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-1{
    width: 60px;
}
.col-2{
    width: 140px;
}   
.col-3{
    width: 220px;
}
.col-4{
    width: 300px;
}

.col-5{
    width: 380px;
}
.col-6{
    width: 460px;
}
.col-7{
    width: 540px;
}
.col-8{
    width: 620px;
}
.col-9{
    width: 700px;
}
.col-10{
    width: 780px;
}
.col-11{
    width: 860px;
}
.col-12{
    width: 940px;
}
div[class *= "col-"]
{
    min-height: 10px;
   
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.row
{
    margin-left: -20px;
    margin-bottom: 20px;

}
.row::after
{
    content: "";
    display: block;
    clear: both;
}
.container
{
    width: 940px;
    margin: auto;
}
